.navigation {
	background-color: #f2f2f2;
	position: fixed;
	width: 100%;
	height: 50px;
	top: 0px;
	left: 0px;
	z-index: 100;

}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.recipes-link {
	position: absolute;
	left: 20px;
	top: 18px;
}

.login {
	position: absolute;
	right: 20px;
	top: 18px;

}


.content {

	position: relative;
	top: 50px;
	z-index: -100;
	


}



.top-content {


	position: absolute;
	background-color: yellow;
	

}


.brownpic{
	width: 30%;
	position: relative;
	float: left;
	border: 2px solid #000000;
	margin: 10px;

}

.clearfix {
	clear: both;
}


.ingredients {

	position: relative;
	background-color: green;
	float: left;
	padding: 2%;
	width: 46%;
}

.directions {
	position: relative;
	float: right;
	background-color: #90cac4;
	padding: 2%;
	width: 46%;

}

.subheader {
	color: #008679;
}




.footer {
clear: both;
background-color: #9a9a9a;
width: 100%;
height: 50px;


}