#page {

	position: fixed;
	top: 0px;
	left: 0px;
	background-color:#ffe6e6;
	width: 100%;
	height: 100%;
	margin: 100px;


}

/*border: solid#ffe6e6;*/


.fire {

	position: relative;
	border: solid#ff0000;
	background:#ffffff;
	margin: 10px;

}

.middle {
	position: static;
	text-align: center;
	background:#ffffff;
	border: solid#ff0000;
	width: 90%;
	height: 90%;


}


